/* Configuraçes gerais */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Classes publicas */
.container {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
}


/* Cabeçalho */
header {
  height: 80px;
  width: 100%;
  position: fixed;
  background: #fff;
}

.bg-nav {
  box-shadow: 0px 6px 9px #00000060;
}
.nav-content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.titulo {
  font-size: 2em;
  font-weight: 300;
}

.nav {
  display: flex;
}

.nav li + li {
  margin-left: 20px;
}

.nav li a{
  padding: 10px;
  transition: .7s;
  color: #007EFF;
  border-radius: 10px;
}

.nav li a:hover {
  background: #007EFF;
  color: #fff;
}