<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock head %}
</head>
<body>

  <header class="bg-nav">
    <div class="container">
      <div class="nav-content">
        <div class="titulo">
          BlogTech
        </div>

        <ul class="nav">
          <li>
            <a href="">Home</a>
          </li>

          <li>
            <a href="">Publicações</a>
          </li>

          <li>
            <a href="">GitHub</a>
          </li>

          <li>
            <a href="">Portfólio</a>
          </li>

          {% if not user.is_authenticated %}
            <li>
              <a href="{% url 'accounts:signup' %}">Conectar-se</a>
            </li>
          {% else %}
            <li>
              <a href="">Sair</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </header>

  {% block context %}
  {% endblock context %}

  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>